*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace', cursive;
   text-align: center;
}

body{
    background-color: rgb(232, 115, 25);
}

input{
    background-color: rgb(15, 99, 183);
}

button{
    background-color: rgb(32, 193, 225);
    border-radius: 20%;
    color: white;
    border-color: white;
}

h1{
    font-size: 200px;
    margin-bottom: 50px;
    color: rgb(207, 142, 29);
}